$apple-blossom: #ff0000;
$alto: #ff0000;
$bouquet: #ff0000;
$chelsea-cucumber: #ff0000;
$cod-grey: #ff0000;
$conifer: #ff0000;
$dove-grey: #ff0000;
$gallery: #ff0000;
$grey: #ff0000;
$gulf-stream: #ff0000;
$hippie-blue: #ff0000;
$potters-clay: #ff0000;
$rajah: #ff0000;
$raw-sienna: #ff0000;
$silver-chalice: #ff0000;